@import "tailwindcss";

@font-face {
  font-family: 'MyFont';
  src: url('./assets/fonts/Roboto_Condensed-Black.ttf') format('truetype');
  font-style: normal;
  font-display: block;
}

.font-mgm {
   font-family: 'MyFont', sans-serif;
   font-size: 12px;
}
