@import "tailwindcss";

:root {
  color-scheme: light;
}

@font-face {
   font-family: 'MyFont';
   src: url('./assets/fonts/Roboto_Condensed-Black.ttf') format('truetype');
   font-style: normal;
   font-display: block;
}

.font-mgm {
   font-family: 'MyFont', sans-serif;
   font-size: 12px;
}

.font-size-level1 {
   font-size: 12px;
}

.font-size-level2 {
   font-size: 13.5px;
}

.font-size-level3 {
   font-size: 30px;
}

.font-size-level4 {
   font-size: 36px;
}

@font-face {
   font-family: 'MyFont1';
   src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
}
.font-style-default {
   font-family: 'MyFont1', sans-serif;
}

.font-style-level1 {
   font-family: "MyFont1", Sans-serif;
   font-size: 32px;
   font-weight: bold;
}

.font-style-level2 {
   font-family: "MyFont1", sans-serif;
   font-size: 18px;
   color: #535862;
}

.font-style-level3 {
   font-family: 'MyFont1', sans-serif;
   font-size: 16px;
   color: white;
   font-weight: 300;
}

.font-style-level4 {
   font-family: 'MyFont1', sans-serif;
   font-size: 12px;
   color: black;
}

.font-style-level5 {
   font-family: 'MyFont1', sans-serif;
   font-size: 12px;
   color: white;
}

.font-style-level6 {
   font-family: 'MyFont1', sans-serif;
   font-size: 22px;
   font-weight: bold;
}

.font-style-level7 {
   font-family: 'MyFont1', sans-serif;
   font-size: 20px;
}

.font-style-level8 {
   font-family: 'MyFont1', sans-serif;
   font-size: 18px;
   font-weight: bold;
   color: white;
}

.font-style-level9 {
   font-family: 'MyFont1', sans-serif;
   font-size: 26px;
   font-weight: bold;
}

.font-style-level10 {
   font-family: 'MyFont1', sans-serif;
   font-size: 36px;
   font-weight: 600;
   line-height: 44px;
   color: #181D27;
   letter-spacing: -0.02em;
}

.font-style-level11 {
   font-family: 'MyFont1', sans-serif;
   font-size: 20px;
   font-weight: 400;
   line-height: 30px;
   color: #535862;
}

.font-style-level12 {
   font-family: 'MyFont1', sans-serif;
   font-size: 48px;
   font-weight: 600;
   line-height: 60px;
   color: #181D27;
   letter-spacing: -0.02em;
}

.font-style-level13 {
   font-family: 'MyFont1', sans-serif;
   font-size: 16px;
   font-weight: 600;
   color: #9C111D;
}

.font-style-level14 {
   font-family: 'MyFont1', sans-serif;
   font-size: 24px;
   font-weight: 600;
   line-height: 32px;
   color: #181D27;
}

.font-style-level15 {
   font-family: 'MyFont1', sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   color: #535862;
}

.font-style-level16 {
   font-family: 'MyFont1', sans-serif;
   font-size: 14px;
   font-weight: 600;
   color: #9C111D;
}

.font-style-level17 {
   font-family: 'MyFont1', sans-serif;
   font-size: 12px;
   font-weight: 500;
   color: #344054;
}

.font-style-level18 {
   font-family: 'MyFont1', sans-serif;
   font-size: 30px;
   font-weight: 600;
   color: #181D27;
}

.font-style-level19 {
   font-family: 'MyFont1', sans-serif;
   font-size: 16px;
   font-weight: 400;
   color: #535862;
}

.font-style-level20 {
   font-family: 'MyFont1', sans-serif;
   font-size: 60px;
   font-weight: 600;
   line-height: 72px;
   color: #9C111D;
   letter-spacing: -0.02em;
}

.font-style-level21 {
   font-family: 'MyFont1', sans-serif;
   font-size: 18px;
   font-weight: 500;
   line-height: 28px;
   color: #181D27;
}

.font-style-level22 {
   font-family: 'MyFont1', sans-serif;
   font-size: 16px;
   font-weight: 400;
   color: #535862;
}

.font-style-level23 {
   font-family: 'MyFont1', sans-serif;
   font-size: 16px;
   font-weight: 600;
   color: #535862;
}

.font-style-level24 {
   font-family: 'MyFont1', sans-serif;
   font-size: 14px;
   font-weight: 500;
   color: #344054;
}

.font-style-level25 {
   font-family: 'MyFont1', sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   color: #535862;
}

.font-style-level26 {
   font-family: 'MyFont1', sans-serif;
   font-size: 14px;
   font-weight: 600;
   color: #9C111D;
}

.font-style-level27 {
   font-family: 'MyFont1', sans-serif;
   font-size: 16px;
   font-weight: 600;
   color: #181D27;
}
